<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
  <!-- Mappa, ahova a log fajlok keletkeznek -->
  <variable name="logDirectory" value="${basedir}/logs"/>
  <variable name="archivedDirectory" value="${logDirectory}/Archived"/>
  <variable name="moduleName" value="GodotLauncher"/>

  <!-- Ide mennek a log uzenetek -->
  <targets>

    <!-- Log fajl. Letrehoz maganak mappat, ha nem lenne. Napi datum a fajl neve. exception tartalamat is kiirja -->
    <!-- Naponta archivál, az archiv fájlokat 7 napig tartja-->
    <target name="file"
            xsi:type="File"
            encoding="utf-8"
            createDirs="true"
            fileName="${logDirectory}/${moduleName}.log"
            layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message} ${exception:format=tostring}"
            archiveFileName="${archivedDirectory}/${moduleName}.{####}.log"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            maxArchiveFiles="7"/>

    <!-- Xlm Log fajl. Letrehoz maganak mappat, ha nem lenne. Napi datum a fajl neve. exception tartalamat is kiirja -->
    <!-- Naponta archivál, az archiv fájlokat 7 napig tartja-->
    <!-- Nagyon jól használható a Log2Console alkalmazáshoz. http://log2console.codeplex.com/-->
    <target name ="xmlFile"
            xsi:type="File"
            encoding="utf-8"
            createDirs="true"
            fileName="${logDirectory}/${moduleName}.xml"
            archiveFileName="${archivedDirectory}/${moduleName}.{####}.xml"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            layout="${log4jxmlevent}"/>


  </targets>

  <!-- Szabalyok. Mi melyik targetre keruljon. -->
  <rules>

    <!-- Fajlba a debug es magasabb szintu logokat irja-->
    <logger name="*" minlevel="Trace" writeTo="file" />

    <!-- Fajlba a debug es magasabb szintu logokat irja-->
    <!-- <logger name="*" minlevel="Trace" writeTo="xmlFile" />-->

  </rules>
</nlog>